<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sravan.applibrary">

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/bookmain"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LaunchActivity"
            android:theme="@style/AppTheme.Launcher"
            android:windowSoftInputMode="stateHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarColor"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".BackpackActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarColor"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity android:name=".BooksActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".CalendarActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".MapsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Resources"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".BooksDetail"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".BookReturn"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan"
            >

            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <data android:mimeType="vnd.android.cursor.dir/event" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".BooksReserve"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity android:name=".CalendarDetail"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <data android:mimeType="vnd.android.cursor.dir/event" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".Instructions"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".Liscence"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity android:name=".Report"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>